<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
 <display-name>Archetype Created Web Application</display-name>
 <servlet>
  <servlet-name>AddTeamServlet</servlet-name>
  <display-name>AddTeamServlet</display-name>
  <servlet-class>web.servlet.addTeamServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>AddUserServlet</servlet-name>
  <display-name>AddUserServlet</display-name>
  <servlet-class>web.servlet.addUserServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>JoinTeamServlet</servlet-name>
  <display-name>JoinTeamServlet</display-name>
  <servlet-class>web.servlet.JoinTeamServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ProfileServlet</servlet-name>
  <display-name>ProfileServlet</display-name>
  <servlet-class>web.servlet.ProfileServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>AuthenticationServlet</servlet-name>
  <display-name>AuthenticationServlet</display-name>
  <servlet-class>web.security.AuthenticationServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>TeamsServlet</servlet-name>
  <display-name>TeamsServlet</display-name>
  <servlet-class>web.servlet.TeamsServlet</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>TeamServlet</servlet-name>
 	<display-name>TeamServlet</display-name>
 	<description></description>
 	<servlet-class>web.servlet.TeamServlet</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>LogoutServlet</servlet-name>
 	<display-name>LogoutServlet</display-name>
 	<description></description>
 	<servlet-class>web.security.LogoutServlet</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>HomeServlet</servlet-name>
 	<display-name>HomeServlet</display-name>
 	<description></description>
 	<servlet-class>web.servlet.HomeServlet</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>EditTeamServlet</servlet-name>
 	<display-name>EditTeamServlet</display-name>
 	<description></description>
 	<servlet-class>web.servlet.EditTeamServlet</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>kickUserFromTeamServler</servlet-name>
 	<display-name>kickUserFromTeamServler</display-name>
 	<description></description>
 	<servlet-class>web.servlet.KickUserTeamServlet</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>AddTaskServlet</servlet-name>
 	<display-name>AddTaskServlet</display-name>
 	<description></description>
 	<servlet-class>web.servlet.AddTaskServlet</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>TaskStateServlet</servlet-name>
 	<display-name>TaskStateServlet</display-name>
 	<description></description>
 	<servlet-class>web.servlet.TaskStateServlet</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>DeleteTaskServlet</servlet-name>
 	<display-name>DeleteTaskServlet</display-name>
 	<description></description>
 	<servlet-class>web.servlet.DeleteTaskServlet</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>EditTask</servlet-name>
 	<display-name>EditTask</display-name>
 	<description></description>
 	<servlet-class>web.servlet.EditTaskServlet</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>TaskServlet</servlet-name>
 	<display-name>TaskServlet</display-name>
 	<description></description>
 	<servlet-class>web.servlet.TaskServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>AddUserServlet</servlet-name>
  <url-pattern>/addUser</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ProfileServlet</servlet-name>
  <url-pattern>/profile</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AuthenticationServlet</servlet-name>
  <url-pattern>/login</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AddTeamServlet</servlet-name>
  <url-pattern>/app/addTeam</url-pattern>
 </servlet-mapping>

 <servlet-mapping>
  <servlet-name>TeamsServlet</servlet-name>
  <url-pattern>/app/teams</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>TeamServlet</servlet-name>
 	<url-pattern>/app/team</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>LogoutServlet</servlet-name>
 	<url-pattern>/app/logout</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>HomeServlet</servlet-name>
 	<url-pattern>/app/home</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>EditTeamServlet</servlet-name>
 	<url-pattern>/app/editTeam</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>kickUserFromTeamServler</servlet-name>
 	<url-pattern>/app/kickUser</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>AddTaskServlet</servlet-name>
 	<url-pattern>/app/addTask</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>TaskStateServlet</servlet-name>
 	<url-pattern>/app/taskState</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>DeleteTaskServlet</servlet-name>
 	<url-pattern>/app/deleteTask</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>EditTask</servlet-name>
 	<url-pattern>/app/editTask</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>TaskServlet</servlet-name>
 	<url-pattern>/app/task</url-pattern>
 </servlet-mapping>
</web-app>
